/*
 * Preview
 */

body {
  background: rgb(22, 22, 22);
  color: rgb(186, 186, 186);
}

/*
 * Paragraph
 */

a,
a:visited {
  background-image: linear-gradient(to bottom, transparent 50%, rgba(158, 158, 158, .4) 50%);
  background-repeat: repeat-x;
  -webkit-background-size: 2px 2px;
  background-size: 2px 2px;
  background-position: 0 90%;
  color: rgb(239, 114, 12);
/*  text-shadow: 1px 0 rgb(16, 16, 16), 2px 0 rgb(16, 16, 16), -1px 0 rgb(16, 16, 16), -2px 0 rgb(16, 16, 16);*/
  text-decoration: none;
  transition: background-image .2s ease-in-out;    
}

a:hover {
  background-image: linear-gradient(to bottom, transparent 50%, rgb(239, 114, 12) 50%);
}

hr {
  height: 0px;
  padding: 0;
  border: none;
  border-top: medium double rgba(182, 182, 182, 0.67);
  color: rgba(182, 182, 182, 0.63);
  text-align: center;
}

::selection {
  background: rgba(51, 51, 51, 0.6);
}

/*
 * Code
 */

pre,
code {
	background: rgba(0, 0, 0, 0.13);
	color: rgba(150, 150, 150, 0.78);
	border-radius: 5px;
}

pre {
	border: 1px solid rgba(193, 191, 191, 0.08);
}

a.linked-code code,
a.linked-code:visited code {
  color: rgb(255, 255, 255)!important;
}

a.linked-code:hover code {
  color: rgb(229, 229, 229)!important;
}

/*
 * Quotes
 */

blockquote {
	background: rgba(239, 114, 12, 0.1);
	border-left: 5px solid #ef720c;
	border-radius: 3px; }

/*
 * Tables
 */
caption {
	color: #d0d0d0; }

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	border-top: 1px solid rgba(208, 208, 208, 0.12); }

table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid rgba(208, 208, 208, 0.12); }

table > tbody + tbody {
	border-top: 2px solid rgba(208, 208, 208, 0.12); }

table table {
	background-color: #101010; }

table > tbody > tr:nth-of-type(odd) {
	background-color: #262626; }

/*
 * Small
 */

@media all and (max-width: 772px) {

  hr:after {
    content: "×";
    background: rgb(22, 22, 22);
    position: relative; 
    display: inline-block;
    top: -15px;  
    font-size: 22px;
    padding: 0 10px;
  }

}

/*
 * Medium
 */

@media all and (min-width: 772px) {

  hr:after {
    content: "×";
    background: rgb(22, 22, 22);
    position: relative; 
    display: inline-block;
    top: -17px;  
    font-size: 22px;
    padding: 0 10px;
  }

}

/*
 * Large
 */

@media all and (min-width: 912px) {

  hr:after {
    content: "×";
    background: rgb(22, 22, 22);
    position: relative; 
    display: inline-block;
    top: -19px;  
    font-size: 22px;
    padding: 0 10px;
  }

}