html
    head
        title hhahah
        link(rel="stylesheet", href="/stylesheets/chat.css")
        script(src="/socket.io/socket.io.js")
        script(src="/javascripts/jquery.js")
        script(src="/javascripts/chat.js")
    body
        header#banner
            h1 Chat
        section#chatroom
            div#messages
            input#message(type='text', placeholder='Enter your message here')
            input#send(type='button', value='Send')
        section#nameform.modal
            div.backdrop
            div.popup
                div.pophead please enter a nickname
                div.popbody
                    input#nickname(type='text')
                    input#setname(type='button', value='set name')
        footer Enjoy it!!