<link rel="stylesheet" href="/bower_components/highlightjs/styles/tomorrow-night-eighties.css"/>
<div id="article-detail" class="container">
  <article class="entry">
    <div class="article-header">
      <h1 v-text="article.title"></h1>

      <p>发表于 {{article.ctime}}</p>
    </div>
    <div v-html="article.content"></div>
    <footer>
      <div class="tags">
        <span class="label label-success" v-repeat="tag in article.tags">{{tag}}</span>
      </div>
    </footer>
  </article>
</div>
