<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Blog</title>
  <link rel="stylesheet" href="/bower_components/foundation/css/foundation.min.css"/>
  <link rel="stylesheet" href="/blog/static/css/blog.css"/>
  <base href="/blog/">
</head>

<body id="content">
<!--<section id="content">-->
<!--</section>-->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!--<script src="/bower_components/foundation/js/foundation.min.js"></script>-->
<script src="/bower_components/page/page.js"></script>
<script src="/bower_components/vue/dist/vue.js"></script>
<script src="/blog/static/dist/app.js"></script>
</body>

</html>
