<link rel="stylesheet" href="/bower_components/codemirror/lib/codemirror.css"/>
<script src="/bower_components/codemirror/mode/markdown/markdown.js"></script>
<div id="blog-editor" class="row">

  <div class="post-title columns">
    <input type="text" placeholder="标题" v-model="post.title">
  </div>

  <div class="post-options">
    <div class="post-category columns large-2">
      <!--<select name="" id="option" v-model="post.category">-->
      <!--<option v-for="option in categories" v-bind:value="option">-->
      <!--{{ option }}-->
      <!--</option>-->
      <!--</select>-->
      <!--<input type="text" name="" id="" v-model="post.category"/>-->
    </div>
    <div class="post-tags columns large-7">
      <div class="tags-inputer">

        <input type="text" placeholder="标签（按 Enter 键确认）" v-model="tag_adding" v-on="keyup: storeTag | key 13"/>
      </div>
      <div class="tags-storing">
        <span v-repeat="tag in post.tags" class="label label-success">{{tag}}</span>
      </div>
    </div>
    <div class="post-action columns large-3">

      <a class="button tiny success" v-on="click: publish(post)">发布</a>
      <a class="button tiny" v-on="click: saveToCloud(post)">上传</a>
      <a class="button tiny" v-on="click: loadMd(post)">加载</a>
    </div>
  </div>
  <!--</div>-->
  <div class="post-content columns">
    <textarea name="" id="writer-board"></textarea>
  </div>
  <!--<div class="preview-content" v-html="post.content | marked"></div>-->
</div>
