<link rel="stylesheet" href="/bower_components/codemirror/lib/codemirror.css"/>
<script src="/bower_components/codemirror/mode/markdown/markdown.js"></script>
<!--<section class="container">-->
<div id="blog-writer">
  <!--<div class="writer-toolbar">-->

    <!--<input type="text" placeholder="标签（多个标签用逗号分开）" v-model="post.tags"/>-->
    <!--<select name="" id="option" v-model="post.category" options="categories">-->
    <!--</select>-->
    <!--<a class="" v-on="click: publish(post)">发布</a>-->
    <!--<a class="" v-on="click: saveToCloud(post)">上传</a>-->
    <!--<a class="" v-on="click: loadMd(post)">加载</a>-->
  <!--</div>-->
  <!--<div class="form-group writer-title col-sm-12">-->
  <!--<input type="text" class="form-control" placeholder="标题" v-model="post.title">-->
  <div class="writer-content" id="writer-board">
  </div>
  <!--</div>-->
</div>
<!--</section>-->
