<div id="blog-writer" class="row">
  <div class="col-sm-12">

    <h2>发布新文章</h2>
    <hr/>

    <div class="form-group">
      <label for="" class="control-label">标题</label>
      <input type="text" class="form-control" placeholder="标题" v-model="post.title">
    </div>
    <div class="form-group">
      <label for="" class="control-label">正文</label>
      <textarea class="form-control writer-content" rows="16" placeholder="正文" v-model="post.content"></textarea>
    </div>
    <div class="form-group ">
      <label for="" class="control-label">标签</label>
      <input type="text" class="form-control" placeholder="标签（多个标签用逗号分开）" v-model="post.tags"/>
    </div>
    <div class="form-group">
      <label for="" class="control-label">分类{{post.category}}</label>
      <select name="" id="option" v-model="post.category">
        <option value="未分类">未分类</option>
        <option v-repeat="categories" value="{{$value}}">{{$value}}</option>
      </select>
    </div>
    <div class="form-group ">
      <button class="btn btn-primary" v-on="click: publish(post)">发布</button>
    </div>
  </div>
</div>
