.cm-s-tomorrow-night-eighties  .cm-header{
  display: inline-block;
  font-family: "Lato-Bold";
  font-weight: normal;
  font-style: normal;
  &-1 {
    font-size: 44px;
    line-height: 54px;
  }

  &-2 {
    font-size: 42px;
    line-height: 50px;
  }

  &-3 {
    font-size: 40px;
    line-height: 30px;
  }

  &-4 {
    font-size: 38px;
    line-height: 42px;
  }

  &-5 {
    font-size: 30px;
    line-height: 34px;
    text-transform: uppercase;
  }

  &-6 {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }
}


/* custom */
.marknote{
  .CodeMirror{
    height: 100%;
  }
}
