$background-app: #f4f4f4;

body {
  background: $background-app;
}

/*
 * editor
 */
.writer-title {
  > input {
    height: 100%;
    font-size: 30px;
    background: $background-app;
    border: none;
    box-shadow: none;
    outline: none;
    &:focus{
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
}

.writer-content {
  > textarea {
    height: 400px;
    background: $background-app;
    border: none;
    box-shadow: none;
    outline: none;
    &:focus{
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
}
