/*
 * Font Face
 */

@font-face {
  font-family: 'Lato-Bold';
  src: url('fonts/lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url('fonts/lato/Lato-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Heavy';
  src: url('fonts/lato/Lato-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-HeavyItalic';
  src: url('fonts/lato/Lato-HeavyItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'GentiumBk-Regular';
  src: url('fonts/gentium/GenBkBasR.ttf') format('truetype');
}

@font-face {
  font-family: 'GentiumBk-RegularItalic';
  src: url('fonts/gentium/GenBkBasI.ttf') format('truetype');
}

@font-face {
  font-family: 'GentiumBk-Bold';
  src: url('fonts/gentium/GenBkBasB.ttf') format('truetype');
}

@font-face {
  font-family: 'GentiumBk-BoldItalic';
  src: url('fonts/gentium/GenBkBasBI.ttf') format('truetype');
}

/*
 * Preview
 */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  -webkit-font-feature-settings: 'liga' 1, 'kern';
  font-feature-settings: 'liga' 1, 'kern';
  background: rgb(244, 244, 244);
  font: 21px/31px "GentiumBk-Regular";
  color: rgb(17, 17, 17);
}

.syntax {
  max-width: 560px;
  margin: 0 auto;
  padding: 40px;
  word-wrap: break-word;
}

/*
 * Headings
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato-Bold";
  font-weight: normal;
  font-style: normal;
  padding: 0 0 40px 0;
}

h1 {
  font-size: 31px;
  line-height: 38px;
}

h2 {
  font-size: 27px;
  line-height: 35px;
}

h3 {
  font-size: 23px;
  line-height: 31px;
}

h4 {
  font-size: 21px;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  line-height: 26px;
}

h6 {
  font-size: 15px;
  line-height: 23px;
}

h5,
h6 {
  text-transform: uppercase;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-family: "Lato-Heavy";
  font-weight: normal;
  font-style: normal;
}

h1 em,
h2 em,
h3 em,
h4 em,
h5 em,
h6 em {
  font-family: "Lato-BoldItalic";
  font-weight: normal;
  font-style: normal;
}

h1 strong em,
h2 strong em,
h3 strong em,
h4 strong em,
h5 strong em,
h6 strong em {
  font-family: "Lato-HeavyItalic";
  font-weight: normal;
  font-style: normal;
}

/*
 * Paragraph
 */

p {
  padding: 0 0 40px 0;
}

strong {
  font-family: "GentiumBk-Bold";
  font-weight: normal;
  font-style: normal;
}

em strong,
strong em {
  font-family: "GentiumBk-BoldItalic";
  font-weight: normal;
  font-style: normal;
}

em {
  font-family: "GentiumBk-RegularItalic";
  font-weight: normal;
  font-style: normal;
}

a,
a:visited {
  background-image: linear-gradient(to bottom, transparent 50%, rgba(158, 158, 158, .4) 50%);
  background-repeat: repeat-x;
  -webkit-background-size: 2px 2px;
  background-size: 2px 2px;
  background-position: 0 90%;
  color: rgb(50, 196, 47);
  text-shadow: 1px 0 rgb(253, 253, 253), 2px 0 rgb(253, 253, 253), -1px 0 rgb(253, 253, 253), -2px 0 rgb(253, 253, 253);
  text-decoration: none;
  transition: background-image .2s ease-in-out;
}
a:hover {
  background-image: linear-gradient(to bottom, transparent 50%, rgb(50, 196, 47) 50%);
}

img {
  margin: 0 0 40px 0;
  padding: 0;
  border-radius: 3px;
  max-width: 100%;
  height: auto;
  display: block;
}

hr {
  height: 0px;
  padding: 0;
  margin: 0 0 40px 0;
  border: none;
  border-top: medium double rgb(17, 17, 17);
  color: rgb(17, 17, 17);
  text-align: center;
}
hr:after {
  content: "×";
  background: rgb(253, 253, 253);
  position: relative;
  display: inline-block;
  top: -17px;
  font-size: 22px;
  padding: 0 10px;
}

::selection {
  background: rgba(217, 217, 216, 0.6);
}

/*
 * Code
 */

pre,
code {
  background: rgba(17, 17, 17, .1);
  color: rgb(17, 17, 17);
  border-radius: 3px;
}

pre {
  font: 18px/31px Menlo, Monaco, monospace, serif;
  padding: 20px;
  margin: 0 0 40px 0;
  white-space: pre-wrap;
}

code {
  font: 18px/31px Menlo, Monaco, monospace, serif;
  padding: 2px;
}
pre code {
  background: none;
  color: inherit;
  border-radius: 0;
}

.linked-code,
.linked-code:hover,
.linked-code:visited {
  background-image: none;
  text-shadow: none;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font: Menlo, Monaco, monospace, serif;
  font-weight: bold;
  font-style: normal;
}

h1 code {
  font-size: 28px;
  line-height: 38px;
}

h2 code {
  font-size: 24px;
  line-height: 35px;
}

h3 code {
  font-size: 21px;
  line-height: 31px;
}

h4 code {
  font-size: 19px;
  line-height: 28px;
}

h5 code {
  font-size: 18px;
  line-height: 26px;
}

h6 code {
  font-size: 15px;
  line-height: 23px;
}

a.linked-code code,
a.linked-code:visited code {
  color: rgb(50, 196, 47)!important;
}

a.linked-code:hover code {
  color: rgb(43, 171, 41)!important;
}

/*
 * Quotes
 */

blockquote {
  border-left: 2px solid rgb(17, 17, 17);
  margin: 0 0 40px 0;
  padding: 0 0 0 20px;
}
blockquote p:last-child {
  padding: 0;
}

/*
 * Lists
 */

ul,
ol {
  padding: 0 0 40px 28px;
}

/*
 * Tables
 */
table {
	margin: 10px 0 40px 0;
	border-collapse: collapse;
}
td,th {
	border: 1px solid #ddd;
	padding: 3px 10px;
}
th {
	padding: 5px 10px;
}

