<!doctype html>
<html lang="en">
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>todo</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/todo/css/todo.css"/>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/page/page.js"></script>
  <script src="/bower_components/vue/dist/vue.js"></script>
</head>
<body id="todoapp">

<header>
</header>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group" id="task-category">
        <a class="list-group-item text-primary" href="./inbox"><i class="glyphicon glyphicon-inbox"></i> Inbox</a>
        <a class="list-group-item text-primary" href="./finished"><i class="glyphicon glyphicon-list-alt"></i> Finished</a>
        <!--<li class="list-group-item"><a href="./archive"> <i class="glyphicon glyphicon-folder-close"></i> Archive</a>-->
        </li>
      </div>
    </div>
    <div class="col-sm-9 app-main">
      <div id="task-inputer">
        <div class="form-group">
          <input type="text" name="" autofocus id="new-todo" class="form-control"
                 placeholder="What needs to be done?" v-model="newTodo.title" v-on="keyup: addTodo | key 13"/>
        </div>
      </div>
      <div id="main">
        <div class="task-container">
          <!--<div class="">-->
          <!--<input type="checkbox" name="" id="toggle-all"/>-->
          <!--<label for="toggle-all">Mark all as complete</label>-->
          <!--</div>-->

          <div id="task-list">
            <div class="taskbox" v-repeat="todo in filteredTodos" v-class="finished: todo.isDone">

              <div class="task-checker">
                <input type="checkbox" class="checker" name="" id="{{todo._id}}" v-on="click: toggleCompleted(todo)"
                       v-model="todo.isDone"/>
                <label for="{{todo._id}}"></label>
              </div>
              <div class="task-actions">
                <span class="glyphicon glyphicon-remove delete" title="delete" v-on="click: deleteTodo(todo)"></span>
                <span class="glyphicon glyphicon-check archive" title="archive" v-on="click: archiveTodo(todo)"></span>
                <!--<span class="glyphicon glyphicon-option-horizontal" data-toggle="dropdown" aria-haspopup="true"-->
                <!--aria-expanded="false" id="dLabel">-->
                <!--<ul class="dropdown-menu" aria-labelledby="dLabel">-->
                <!--...-->
                <!--</ul>-->
                <!--</span>-->
              </div>
              <div class="task-content" v-on="dblclick: edit(todo)" v-class=" editing: todo == todoEditing">
                <div data-val="{{todo.title}}">{{todo.title}}</div>
                <input type="text" value="{{todo.title}}" v-todo-autofocus="todo == todoEditing" v-model="todo.title"
                       class="edit form-control"
                       v-on="keyup: updateTodo(todo) | key 13, blur: updateTodo(todo)"/>
              </div>
            </div>
          </div>
          <!-- TODO: -->
          <!--<div>-->
          <!--<a href="" id="show-task-completed">Show completed to-dos</a>-->
          <!--<div id="task-completed">-->
          <!--</div>-->
          <!--</div>-->
          <!--<ul id="filters">-->
          <!--<li><a href="">adsfsdf</a></li>-->
          <!--</ul>-->
        </div>
      </div>
      <div id="footer">

      </div>
    </div>
  </div>
</div>

<script id="status-bar" type="text/template">
  <div class="task-footer">

    <% if (completed) { %>
    <a id="clear-completed">Clear <%= completed %> completed <%= completed == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b>
      <%= remaining==1 ? 'item' : 'items' %> left
    </div>
  </div>
</script>

<script id="task-template" type="text/template">
  <div class="task-checker">
    <input type="checkbox" class="checker" name="" id=""
    <% if(isDone){ %>
    checked
    <% }%>
    />
    <label for=""></label>
  </div>
  <div class="task-actions">
    <span class="glyphicon glyphicon-remove delete" title="delete"></span>
    <span class="glyphicon glyphicon-check archive" title="archive"></span>
<span class="glyphicon glyphicon-option-horizontal" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false" id="dLabel">
<ul class="dropdown-menu" aria-labelledby="dLabel">
  ...
</ul>
  </span>
  </div>
  <div class="task-content">
    <div data-val="<%= title %>"><%= title %></div>
    <input type="text" value="<%= title %>" class=" edit form-control"/>
  </div>
</script>
<script src="/todo/dist/todo.js"></script>
</body>
